*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.header-heading{
  height:400px;
  background-image:url(img/mv.jpg);
  background-size:cover;
  background-position:bottom;
  padding:20px;
  color:black;
}

main{
  width:840px;
  margin:50px auto;
}

.blog-box{
  padding-bottom:30px;
  border-bottom:1px solid rgb(209,209,209);
  margin-bottom:30px;
}

.blog-box:last-child{
  margin-bottom:0;
}

.blog-text{
  color:black;
}
